<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="styles.css">
	<script src="./index.js"></script>

    <title>Cadastrar produto</title>
</head>
<body>
    <div class="container">
        <h2>Cadastrar produto</h2>
        <form class="form" id="form">
            <div>
                <div>
                    <label for="name">Nome do produto:</label>
                </div>
                <div>
                    <label for="description">Descrição:</label>
                </div>
                <div>
                    <label for="price">Preço:</label>
                </div>
            </div>
            <div>
                <div>
                    <input class="name" type="text">
                </div>
                <div>
                    <input class="description" type="text">
                </div>
                <div>
                    <input class="price" type="text" size="9">
                    <button class="register" onclick="">Cadastrar</button>
                </div>
            </div>           
        </form>
    </div>
</body>
</html>